In [ ]:
import numpy as np
import pandas as pd

In [ ]:
path = "/content/drive/MyDrive/lab3. IT in math/tz_opendata_z01012024_po01042024.csv"
data = pd.read_csv(path, sep=';')
data.head()

<ipython-input-6-141923c6b530>:2: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(path, sep=';')

,PERSON,REG_ADDR_KOATUU,OPER_CODE,OPER_NAME,D_REG,DEP_CODE,DEP,BRAND,MODEL,VIN,MAKE_YEAR,COLOR,KIND,BODY,PURPOSE,FUEL,CAPACITY,OWN_WEIGHT,TOTAL_WEIGHT,N_REG_NEW
0,J,2.310137e+09,18,ВНЕСЕННЯ КАРТКИ ВІДОМЧОЇ РЕЄСТРАЦІЇ ТЗ (ТІЛЬКИ...,01.01.24,12268,ТСЦ 2342,ATAMAN,D-09216,Y7BD09216PB000395,2023,БІЛИЙ,АВТОБУС,АВТОБУС ОПЕРАТИВНИЙ,СПЕЦІАЛІЗОВАНИЙ,ДИЗЕЛЬНЕ ПАЛИВО,5193.0,5840,8850.0,АР535Е
1,P,5.123355e+09,284,НАЛЕЖНИЙ КОРИСТУВАЧ. ВИКЛЮЧЕННЯ ВІДОМОСТЕЙ,01.01.24,10000,OLD_ДДАІ МВС УКРАЇНИ,VOLKSWAGEN,GOLF,WVWZZZ1JZ3W331148,2002,СІРИЙ,ЛЕГКОВИЙ,ХЕТЧБЕК,ЗАГАЛЬНИЙ,БЕНЗИН,1390.0,1204,1710.0,ВН7469ОХ
2,P,8.038000e+09,284,НАЛЕЖНИЙ КОРИСТУВАЧ. ВИКЛЮЧЕННЯ ВІДОМОСТЕЙ,01.01.24,10000,OLD_ДДАІ МВС УКРАЇНИ,KIA,SPORTAGE,U5YPK813DGL012105,2015,БІЛИЙ,ЛЕГКОВИЙ,УНІВЕРСАЛ,ЗАГАЛЬНИЙ,ДИЗЕЛЬНЕ ПАЛИВО,1995.0,1690,2250.0,КА9443ЕМ
3,P,6.520386e+09,284,НАЛЕЖНИЙ КОРИСТУВАЧ. ВИКЛЮЧЕННЯ ВІДОМОСТЕЙ,01.01.24,10000,OLD_ДДАІ МВС УКРАЇНИ,ЗАЗ,110307,Y6D11030740066050,2004,СИНІЙ,ЛЕГКОВИЙ,ХЕТЧБЕК,ЗАГАЛЬНИЙ,БЕНЗИН,1197.0,790,1190.0,ВТ9040АХ
4,P,5.110300e+09,284,НАЛЕЖНИЙ КОРИСТУВАЧ. ВИКЛЮЧЕННЯ ВІДОМОСТЕЙ,01.01.24,10000,OLD_ДДАІ МВС УКРАЇНИ,DACIA,SANDERO,UU1BSDBNH41419575,2009,СИНІЙ,ЛЕГКОВИЙ,ХЕТЧБЕК,ЗАГАЛЬНИЙ,БЕНЗИН,1149.0,1050,1470.0,КА5192КА

In [ ]:
num_rows, num_columns = data.shape
print("Кількість записів: ", num_rows)
print("Кількість полів: ", num_columns)

print("\nНазви полів:\n", data.head(0))

Кількість записів:  552216
Кількість полів:  20

Назви полів:
 Empty DataFrame
Columns: [PERSON, REG_ADDR_KOATUU, OPER_CODE, OPER_NAME, D_REG, DEP_CODE, DEP, BRAND, MODEL, VIN, MAKE_YEAR, COLOR, KIND, BODY, PURPOSE, FUEL, CAPACITY, OWN_WEIGHT, TOTAL_WEIGHT, N_REG_NEW]
Index: []

In [ ]:
kind_of_car = data["KIND"].unique()
print(f'Назви всіх видів машин "{"KIND"}":\n', kind_of_car)
print(f'Кількість видів машин "{"KIND"}": ', len(kind_of_car))

Назви всіх видів машин "KIND":
 ['АВТОБУС' 'ЛЕГКОВИЙ' 'ВАНТАЖНИЙ' 'ПРИЧІП' 'МОТОЦИКЛ' 'НАПІВПРИЧІП'
 'МОПЕД' 'КВАДРОЦИКЛ' 'ТРИЦИКЛ' 'СПЕЦІАЛІЗОВАНІ']
Кількість видів машин "KIND":  10

In [ ]:
color_of_car = data["COLOR"].unique()
print(f'Назви всіх кольорів машин "{"COLOR"} (+"НЕВИЗНАЧЕНИЙ")":\n', color_of_car)
print(f'Кількість кольорів машин "{"COLOR"}": ', len(color_of_car))

color_NA = (data["COLOR"] == "НЕВИЗНАЧЕНИЙ").sum()
print(f'\nКількість машин з кольором "{"НЕВИЗНАЧЕНИЙ"}": ',color_NA)

Назви всіх кольорів машин "COLOR (+"НЕВИЗНАЧЕНИЙ")":
 ['БІЛИЙ' 'СІРИЙ' 'СИНІЙ' 'ЧОРНИЙ' 'ЧЕРВОНИЙ' 'ЗЕЛЕНИЙ' 'ЖОВТИЙ' 'БЕЖЕВИЙ'
 'КОРИЧНЕВИЙ' 'ОРАНЖЕВИЙ' 'ФІОЛЕТОВИЙ' 'НЕВИЗНАЧЕНИЙ']
Кількість кольорів машин "COLOR":  12

Кількість машин з кольором "НЕВИЗНАЧЕНИЙ":  7

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 552216 entries, 0 to 552215
Data columns (total 21 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   person           552216 non-null  object
 1   reg_addr_koatuu  552215 non-null  float64
 2   oper_code        552216 non-null  int64
 3   oper_name        552216 non-null  object
 4   d_reg            552216 non-null  object
 5   dep_code         552216 non-null  int64
 6   dep              552216 non-null  object
 7   brand            552216 non-null  object
 8   model            552216 non-null  object
 9   vin              552185 non-null  object
 10  make_year        552216 non-null  int64
 11  color            552216 non-null  object
 12  kind             552216 non-null  object
 13  body             552216 non-null  object
 14  purpose          552216 non-null  object
 15  fuel             528454 non-null  object
 16  capacity         506195 non-null  float64
 17  own_weight       552034 non-null  object
 18  total_weight     355518 non-null  float64
 19  n_reg_new        546832 non-null  object
 20  region code      546832 non-null  object
dtypes: float64(3), int64(3), object(15)
memory usage: 88.5+ MB

In [ ]:
data.shape[0] #num of rows

552216

In [ ]:
data.shape[1] #num of colums

20

In [ ]:
data.columns

Index(['PERSON', 'REG_ADDR_KOATUU', 'OPER_CODE', 'OPER_NAME', 'D_REG',
       'DEP_CODE', 'DEP', 'BRAND', 'MODEL', 'VIN', 'MAKE_YEAR', 'COLOR',
       'KIND', 'BODY', 'PURPOSE', 'FUEL', 'CAPACITY', 'OWN_WEIGHT',
       'TOTAL_WEIGHT', 'N_REG_NEW'],
      dtype='object')

In [ ]:
data.columns=data.columns.str.lower()
data.columns

Index(['person', 'reg_addr_koatuu', 'oper_code', 'oper_name', 'd_reg',
       'dep_code', 'dep', 'brand', 'model', 'vin', 'make_year', 'color',
       'kind', 'body', 'purpose', 'fuel', 'capacity', 'own_weight',
       'total_weight', 'n_reg_new'],
      dtype='object')

In [ ]:
data['kind'].nunique()

10

In [ ]:
data['kind'].unique()

array(['АВТОБУС', 'ЛЕГКОВИЙ', 'ВАНТАЖНИЙ', 'ПРИЧІП', 'МОТОЦИКЛ',
       'НАПІВПРИЧІП', 'МОПЕД', 'КВАДРОЦИКЛ', 'ТРИЦИКЛ', 'СПЕЦІАЛІЗОВАНІ'],
      dtype=object)

In [ ]:
data['kind'].value_counts()

kind
ЛЕГКОВИЙ          455999
ВАНТАЖНИЙ          51804
НАПІВПРИЧІП        13108
МОТОЦИКЛ           12798
ПРИЧІП             10515
АВТОБУС             7024
МОПЕД                760
КВАДРОЦИКЛ           155
ТРИЦИКЛ               50
СПЕЦІАЛІЗОВАНІ         3
Name: count, dtype: int64

In [ ]:
data.color.nunique()

12

In [ ]:
data['color'].value_counts()

color
СІРИЙ           165737
БІЛИЙ           115299
ЧОРНИЙ          113191
СИНІЙ            62181
ЧЕРВОНИЙ         37972
ЗЕЛЕНИЙ          23079
БЕЖЕВИЙ          11394
КОРИЧНЕВИЙ       10609
ЖОВТИЙ            7370
ОРАНЖЕВИЙ         3558
ФІОЛЕТОВИЙ        1819
НЕВИЗНАЧЕНИЙ         7
Name: count, dtype: int64

In [ ]:
data['color'].value_counts()['НЕВИЗНАЧЕНИЙ']

7

In [ ]:
data['color'].value_counts().head(1).index

Index(['СІРИЙ'], dtype='object', name='color')

In [ ]:
data['region code']= data['n_reg_new'].str.slice(0,2)
data['region code'].value_counts()

region code
КА    65453
ВС    43832
АІ    34705
ВН    31617
АЕ    27873
      ...
92        1
59        1
90        1
84        1
44        1
Name: count, Length: 113, dtype: int64

In [ ]:
data['vin'].value_counts()

vin
TMBPC46Y754349523    18
VF1KMS40636026405    16
WVGZZZ7PZCD025143    14
WF0DXXGAKDDJ26953    14
Y6DT1311070324038    13
                     ..
SJNFANF15U6181514     1
Y6DKN811DC5070070     1
JMBXTGF3WLZ001355     1
WMA06XZZ69M547629     1
WA1LFAFP6FA041980     1
Name: count, Length: 480456, dtype: int64

In [ ]:
data.duplicated().sum()

2003

In [ ]:
data['capacity'].describe()

count    506195.000000
mean       2394.277869
std        2080.590980
min           0.000000
25%        1586.000000
50%        1968.000000
75%        2400.000000
max       40000.000000
Name: capacity, dtype: float64

In [ ]:
data['capacity'].describe()['mean']

2394.2778692006045

In [ ]:
data['fuel'].value_counts()

fuel
БЕНЗИН                         211499
ДИЗЕЛЬНЕ ПАЛИВО                191032
БЕНЗИН АБО ГАЗ                  89761
ЕЛЕКТРО                         22456
ЕЛЕКТРО АБО БЕНЗИН               9917
ГАЗ                              1790
ЕЛЕКТРО АБО ДИЗЕЛЬНЕ ПАЛИВО      1518
БЕНЗИН, ГАЗ АБО ЕЛЕКТРО           419
НЕ ВИЗНАЧЕНО                       34
ДИЗЕЛЬНЕ ПАЛИВО АБО ГАЗ            19
ГАЗ ТА ЕЛЕКТРО                      4
ВІДСУТНЄ                            3
.                                   2
Name: count, dtype: int64

In [ ]:
data['total_weight'] = data['total_weight'].str.replace(',' , '.').astype(float)
data['total_weight'].describe()

AttributeError: Can only use .str accessor with string values!

In [ ]:
data[data['kind'] == 'ЛЕГКОВИЙ'].sort_values('total_weight', ascending=False).head(1) #our total weight not an int or float, but object

,person,reg_addr_koatuu,oper_code,oper_name,d_reg,dep_code,dep,brand,model,vin,...,color,kind,body,purpose,fuel,capacity,own_weight,total_weight,n_reg_new,region code
198183,P,3.210400e+09,540,ЗНЯТТЯ З ОБЛІКУ У ЗВ`ЯЗКУ З ВИБРАКОВКОЮ,03.02.24,12280,ТСЦ 3241,ВАЗ,2103,21030942614,...,ЗЕЛЕНИЙ,ЛЕГКОВИЙ,СЕДАН,ЗАГАЛЬНИЙ,БЕНЗИН,1451.0,970,141470.0,NaN,NaN

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).